<template name="signup">
	<div class="container">
		<form action="" class="well signup">
			<h1>SignUp</h1>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Your Name" />
			</div>
			<div class="form-group">
				<input type="email" class="form-control" placeholder="Your Email" />
			</div>
			<div class="form-group">
				<input type="number" class="form-control" placeholder="Your Age" />
			</div>
			<div class="form-group">
				<input type="email" class="form-control" placeholder="Your Email" />
			</div>
			<div class="form-group">
				<input type="password" class="form-control" placeholder="Password" />
			</div>
		
			<button class="btn btn-primary" type="submit">Submit</button>
		</form>
	</div>
</template>