<template name="home">
    <h1 class="text-center">Latest Reviews</h1>
    <div class="container">
    	<table class="table table-hover table-striped">
    		<tbody>
            {{#each reviews}}
            {{>review}}
            {{/each}}
    			<!---<tr>
    				<td>
    					<article>
    					<span class="title">Lorem ipsum text</span>
    					<footer class="rv-user"><i>butterfly</i></footer>
    					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    					</p>
    					</article>
    				</td>
    			</tr>
    			<tr>
    				<td>
    					<article>
    					<span class="title">Lorem ipsum text</span>
    					<footer class="rv-user"><i>butterfly</i></footer>
    					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    					</p>
    					</article>
    				</td>
    			</tr>
    			<tr>
    				<td>
    					<article>
    					<span class="title">Lorem ipsum text</span>
    					<footer class="rv-user"><i>butterfly</i></footer>
    					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    					</p>
    					</article>
    				</td>
    			</tr> -->
    		</tbody>
    	</table>
    </div>
</template>

<template name="review">
    <tr>
        <td>
            <article>
                <span class="title">{{data.title}}</span>
                <footer class="rv-user"><a href="{{author._id}}">{{author.username}}</a></footer>
                <p>
                    {{data.desc}}
                </p>
            </article>  
        </td>
    </tr>
</template>