<template name="addreviews">
	<!-- <div class="container"> -->
		<form action="" class="well">
		<a href="/addreviews" class="btn btn-primary add">Add Review <span class="glyphicon glyphicon-plus-sign"></span></a>
		<br/><br/>				
		{{#if doadd}}
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Title" />
			</div>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="tag" />
			</div>
			<div class="form-group">
				<input type="date" class="form-control"  />
			</div>
			<button class="btn btn-primary sub" type="submit">Submit</button>
			<button class="btn btn-primary can" type="submit">Cancel</button>
		{{/if}}
		</form>
<!--	</div> -->
</template>