// Main styles
.well {
	
}
.signin {
	width:40%;
	margin-top:10%;
	margin-left: 25%;
}
.signup {
	width:40%;
	margin-left: 25%;
}
body {
	background: #fafafa;
}
.latestreviews {
	border: 1px solid #808080;
	border-radius: 4px 3px;
	margin-bottom:8px;
}
.title {
	font-size: 15pt;
	font-weight:700;
	display: block;
}
.rv-user {
	color: #888;
	font-size: 8pt;
	font-weight:400;
}