<template name="basicLayout">
<nav class="navbar navbar-inverse">
    	<div class="container">
    		<div class="navbar-header">
    			<a class="navbar-brand" href="/">ProjectX</a>
    		</div>
    			<ul class="nav navbar-nav navbar-right">
                {{#if login }}
                <li><a href="/myreviews" class="dboard">Dashboard</a></li>   
                <li><a href="#" class="dboard">{{username}}</a></li>   
                <li><a href="/logout" class="logout">Logout</a></li>   
    				{{else}}
                     <li><a href="/signin">SignIn</a></li>
                    {{/if}}

    			</ul>
    	</div>
    </nav>
    {{> yield}}
</template>
