<template name="signin">
{{#if signin}}
	<div class="container">
		<div action="" class="well signin">
			<h1>SignIn</h1>
			<div class="form-group">
				<input type="text" class="form-control email"  placeholder="Your email" />
			</div>
			<div class="form-group">
				<input type="password" class="form-control password" placeholder="Password" />
			</div>
			<button class="btn btn-primary login">Sign in</button>
			<br>
			<label>Don't have an account? <a href="/signup">SignUp</a></label>
		
		</div>
	</div>
    {{else}}
        <button class="btn btn-primary logout">Logout</button>
	{{/if}}
</template>